
<!DOCTYPE html>
<html>
<head>
  <title>{{ product.name }} Versions | {{ site }} Releases</title>

  <meta name=viewport content="width=device-width, initial-scale=1">

  <style type="text/css">
    html {
      position: relative;
      min-height: 100%;
    }

    body {
      font-family: monospace;
      font-size: 14px;
      margin: 0 0 50px;
    }

    footer {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 50px;
      line-height: 50px;
      text-align: center;
      width: 100%;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    a:visited {
      color: blue;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 1em;
      padding: 0;
    }
  </style>
</head>

<body>
  <ul>

    <li>
      <a href="../">../</a>
    </li>


{% for type in item.type_suffix %}
  <li>
    {% if type == 'ipa' %}
    <a href="itms-services://?action=download-manifest&url=https://{{ website_bucket }}/{{ release_product }}/{{ item.version }}/manifest.plist">{{ release_product }}_{{ item.version }}.{{ type }}</a>
    {% else %}
    <a href="{{ release_product }}_{{ item.version }}.{{ type }}">{{ release_product }}_{{ item.version }}.{{ type }}</a>
    {% endif %}
  </li>

{% endfor %}

  </ul>

  <footer>
    Proudly built by <a href="{{ footer_url }}" target="_TOP">{{ site }}</a>
  </footer>
</body>
</html>
